name: Technology API CI/CD Pipeline

on: push

env:
  HELM_EXPERIMENTAL_OCI: 1
  NAMESPACE: thoughtworks-developer
  REPOSITORY: technology-api
  CONTAINER_REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@v2
        with:
          java-version: '15'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn clean package -Dmaven.test.skip=true
      - uses: actions/upload-artifact@v2
        with:
          name: jarpack
          path: ./target
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: 
          name: jarpack
      - name: Build Docker image
        run: |
          echo "downloading jar file: $GITHUB_WORKSPACE/jarpack/*.jar"
          ls $GITHUB_WORKSPACE/jarpack
          docker build --build-arg JAR_FILE=$GITHUB_WORKSPACE/jarpack/*.jar $NAMESPACE/$REPOSITORY .
      - uses: secrethub/actions/env-export@v0.1.0
        env:
          APP_VERSION: 0.0.1
          SECRETHUB_CREDENTIAL: ${{ secrets.SECRETHUB_CREDENTIAL }}
          CONTAINER_REGISTRY_USER: secrethub://thoughtworks-developer/technology-api/git/user
          CONTAINER_REGISTRY_PASSWORD: secrethub://thoughtworks-developer/technology-api/git/password
      - name: push docker image
        run: |
          echo "$CONTAINER_REGISTRY_PASSWORD" | docker login ${{ env.CONTAINER_REGISTRY }} --username "$CONTAINER_REGISTRY_USER" --password-stdin
          docker tag ${{ env.NAMESPACE }}/${{ env.REPOSITORY }} ${{ env.CONTAINER_REGISTRY }}/${{ env.NAMESPACE }}/${{ env.REPOSITORY }}:$APP_VERSION
          docker push ${{ env.CONTAINER_REGISTRY }}/${{ env.NAMESPACE }}/${{ env.REPOSITORY }}:$APP_VERSION
  release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install helm
        uses: Azure/setup-helm@v1
      - uses: chrisdickinson/setup-yq@latest
        env:
          SECRETHUB_CREDENTIAL: ${{ secrets.SECRETHUB_CREDENTIAL }}
          CONTAINER_REGISTRY_USER: secrethub://thoughtworks-developer/technology-api/git/user
          CONTAINER_REGISTRY_PASSWORD: secrethub://thoughtworks-developer/technology-api/git/password
      - name: publish helm chart
        run: |
          export RELEASE_VERSION=$(yq eval '.version' charts/Chart.yaml)
          echo "$CONTAINER_REGISTRY_PASSWORD" | helm registry login ${{ env.CONTAINER_REGISTRY }} --username "$CONTAINER_REGISTRY_USER" --password-stdin
          helm chart save charts/. ${{ env.CONTAINER_REGISTRY }}/${{ env.NAMESPACE }}/${{ env.REPOSITORY }}:$RELEASE_VERSION
          helm chart push ${{ env.CONTAINER_REGISTRY }}/${{ env.NAMESPACE }}/${{ env.REPOSITORY }}:$RELEASE_VERSION